Greetings, 

#{@user.name} has invited you to create a harmony#{@account_name ? " named #{@account_name}." : '.'}

Please visit http://harmony.heroku.com and create an account. 

Once you've logged in you will be able to accept the invitation. 

= "- Harmony Dev Team"


