@import url(facebox.css);
body {
  background-color: #bf7130;
  color: #FFF;
  font-family: "Helvetica"; }

body, p, ol, ul, td {
  font-size: 13px;
  line-height: 18px; }

.clear {
  clear: both; }

.main {
  padding-top: 25px; }

a {
  color: darkred;
  text-decoration: none; }
  a:hover {
    color: #777;
    text-decoration: underline; }

input.button {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin: 5px;
  background-color: #33cccc;
  border: 0 none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px; }
  input.button:hover {
    background-color: #5ccccc;
    cursor: pointer; }

.home {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 500px;
  margin: auto;
  background-color: #a64b00;
  padding: 10px; }
  .home .info {
    background-color: #ff9640;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

.nav {
  background-color: #ff9640;
  border-bottom: 1px solid black;
  margin: -9px -10px;
  padding: 4px 20px;
  color: black;
  position: fixed;
  width: 100%; }
  .nav .user {
    float: left; }
  .nav .acc {
    float: right;
    padding-right: 50px; }
  .nav .notifications {
    float: left;
    padding-left: 12%; }
    .nav .notifications div {
      color: darkred;
      font-size: 15px;
      font-weight: bold; }

.right {
  float: right; }

.left {
  float: left; }

.link_button {
  border: 0px solid black;
  background-color: white; }
  .link_button:hover {
    background-color: black;
    color: white; }

.button_to {
  display: block; }

.form {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #1d7373;
  border: 4px solid #006363;
  margin: auto;
  padding: 15px;
  width: 367px; }
  .form .label label {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background-color: #006363;
    float: left;
    margin: 0 0 -5px 25px;
    padding: 2px 10px; }
  .form .label .formError {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background-color: Red;
    float: left;
    margin: 0 0 -5px 25px;
    width: 305px;
    padding: 2px 10px; }
  .form .field {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #006363;
    margin: 4px;
    float: left;
    padding: 5px;
    width: 350px; }
    .form .field select {
      border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      padding: 5px;
      width: 350px;
      border: 0 solid white;
      font-size: 19px; }
    .form .field input {
      border-radius: 7px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border: none;
      font-size: 15px;
      padding: 10px;
      text-align: center;
      width: 330px; }
  .form .checkbox {
    width: 350px;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 4px; }
    .form .checkbox .formError {
      color: Red;
      float: left;
      padding: 2px 0 0 3px; }
    .form .checkbox label {
      padding: 2px 0 0 3px;
      float: left; }
    .form .checkbox input {
      float: left; }
  .form p {
    float: left;
    font-size: 10pt; }
  .form .button {
    float: right;
    margin-right: 10px; }

.account_settings {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 500px;
  margin: auto;
  background-color: #ff7400;
  padding: 10px; }
  .account_settings .info {
    background-color: #ff9640;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

.account {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 900px;
  margin: auto;
  background-color: #a64b00;
  padding: 10px; }
  .account .info {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #009999;
    padding: 10px; }
    .account .info div {
      padding: 15px;
      width: 400px;
      height: 50px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      background-color: #33cccc; }
    .account .info .user {
      float: left; }
    .account .info .friend {
      float: right; }
  .account .feed {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    margin: 10px 0 10px 20px;
    float: left;
    width: 460px;
    background-color: #ff7400; }
  .account .widgets {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    margin: 10px 20px;
    float: left;
    width: 340px;
    background-color: #ff7400; }
    .account .widgets .notes, .account .widgets .todos, .account .widgets .lists {
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 10px;
      margin: 10px;
      float: left;
      width: 300px;
      background-color: #ff9640; }
    .account .widgets .lists ul {
      list-style-type: none;
      padding-left: 0; }
      .account .widgets .lists ul li {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #ffb273;
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        width: 260px; }
    .account .widgets .notes .note {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      background-color: #ffb273;
      border: 1px solid black;
      margin: 10px;
      padding: 10px;
      width: 260px; }
    .account .widgets .todos .todo {
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      background-color: #ffb273;
      border: 1px solid black;
      margin: 10px;
      padding: 10px;
      width: 260px; }
