%h1 Account!

.account
  .info
    .user1
      = image_tag avatar_url(current_user)

      %h2 Info for User1
    .user2 
      %h2 Info for User2
  .feed
    %ul 
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
      %li OMG COntent Here!
  .widgets
    .notes
      %ul
        %li OMG Cute Note!
        %li OMG Cute Note!
        %li OMG Cute Note!
    .todo
      %ul
        %li OMG You need to do this!
        %li OMG You need to do this!
        %li OMG You need to do this!
        %li OMG You need to do this!
    .list
      %ul
        %li OMG You need to bring this!
        %li OMG You need to bring this!
        %li OMG You need to bring this!
        %li OMG You need to bring this!
    

  


